<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
<!--    <link rel="stylesheet" href="../static/css/table.css">-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> uspeh </title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/cool_guy.png') }}">
    <meta name="theme-color" content="#7952b3">
</head>
<header>

</header>
<body>

<!--<div class="container">-->
<!--  <div class="row">-->
    <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4">


        <form action="/submit" method="post">
                <select id="region" name="region">
                    <option value="" disabled selected>регион</option>
                    {% for region in regions %}
                    <option value="{{ region }}">{{ region }}</option>
                    {% endfor %}
                </select>

                <select id="school" name="school">
                    <option value="" disabled selected>школа</option>
                    {% if region == 'Москва' %}
                        {% for school in schools if school.region == 'Москва' %}
                        <option value="{{ school.name }}">{{ school.name }}</option>
                        {% endfor %}
                    {% elif region == 'Санкт-Петербург' %}
                        {% for school in schools if school.region == 'Санкт-Петербург' %}
                        <option value="{{ school.name }}">{{ school.name }}</option>
                        {% endfor %}
                    {% endif %}
                    <option value="все школы">все школы</option>
                </select>

                <select id="tour" name="tour">
                    <option value="" disabled selected>тур</option>
                    <option value="первый тур">Первый тур</option>
                    <option value="второй тур">Второй тур</option>
                    <option value="оба тура">Оба тура</option>
                </select>

                <select id="class" name="class">
                    <option value="" disabled selected>класс</option>
                    <option value="все участники">Все участники</option>
                    <option value="11 класс">11 класс</option>
                    <option value="10 класс">10 класс</option>
                    <option value="9 класс">9 класс</option>
                    <option value="10 класс и младше">10 класс и младше</option>
                    <option value="9 класс и младше">9 класс и младше</option>
                    <option value="8 класс и младше">8 класс и младше</option>
                </select>

            <div class="form-group radio-group">
                <label>Дипломы:</label>
                <input type="radio" id="diplomas_yes" name="diplomas" value="yes">
                <label for="diplomas_yes">Да</label>
                <input type="radio" id="diplomas_no" name="diplomas" value="no">
                <label for="diplomas_no">Нет</label>
            </div>


            <div class="form-group">
                <label for="time">Время:</label>
                <input type="text" id="time" name="time" placeholder="Опционально">
            </div>
            <button type="button">Результаты</button>
        </form>

<!--              <div style="margin-bottom:200px"></div>-->
<!--kjbvughvuasbcejsn;ihvfcguavszhdnvlonjeiuobrzhsdbvfjznhrurbihzbdifuzbnoungvholznhpirv-->

      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>место</th>
              <th>фио</th>
              <th>класс</th>
              <th>баллы</th>
            </tr>
          </thead>
          <tbody>
            {% for row in data %}
                <tr>
                    <td> {{ row[0] }} </td>
                    <td> <a href="/students/0">
                    {% for i in range(1, 4) %}
                        {{ row[i] }}
                    {% endfor %}
                    </a></td>
                    <td>{{ row[5] }}</td>
                </tr>
            {% endfor %}
          </tbody>

        </table>


      </div>
        <hr size="1" color="#3269aa">
    </main>
<!--  </div>-->
<!--</div>-->
 <form action="/submit" method="post">
                <select id="region" name="region">
                    <option value="" disabled selected>регион</option>
                    {% for region in regions %}
                    <option value="{{ region }}">{{ region }}</option>
                    {% endfor %}
                </select>

                <select id="school" name="school">
                    <option value="" disabled selected>школа</option>
                    {% if region == 'Москва' %}
                        {% for school in schools if school.region == 'Москва' %}
                        <option value="{{ school.name }}">{{ school.name }}</option>
                        {% endfor %}
                    {% elif region == 'Санкт-Петербург' %}
                        {% for school in schools if school.region == 'Санкт-Петербург' %}
                        <option value="{{ school.name }}">{{ school.name }}</option>
                        {% endfor %}
                    {% endif %}
                    <option value="все школы">все школы</option>
                </select>

                <select id="tour" name="tour">
                    <option value="" disabled selected>тур</option>
                    <option value="первый тур">Первый тур</option>
                    <option value="второй тур">Второй тур</option>
                    <option value="оба тура">Оба тура</option>
                </select>

                <select id="class" name="class">
                    <option value="" disabled selected>класс</option>
                    <option value="все участники">Все участники</option>
                    <option value="11 класс">11 класс</option>
                    <option value="10 класс">10 класс</option>
                    <option value="9 класс">9 класс</option>
                    <option value="10 класс и младше">10 класс и младше</option>
                    <option value="9 класс и младше">9 класс и младше</option>
                    <option value="8 класс и младше">8 класс и младше</option>
                </select>

            <div class="form-group radio-group">
                <label>Дипломы:</label>
                <input type="radio" id="diplomas_yes" name="diplomas" value="yes">
                <label for="diplomas_yes">Да</label>
                <input type="radio" id="diplomas_no" name="diplomas" value="no">
                <label for="diplomas_no">Нет</label>
            </div>


            <div class="form-group">
                <label for="time">Время:</label>
                <input type="text" id="time" name="time" placeholder="Опционально">
            </div>
            <button type="button">Результаты</button>
        </form>

</body>
</html>
